version: "3.8"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: codebid
    ports:
      - "5432:5432"
    volumes:
      - codebid_pg:/var/lib/postgresql/data
volumes:
  codebid_pg:
